<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>IT_Lab</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddNewItem</display-name>
    <servlet-name>AddNewItem</servlet-name>
    <servlet-class>AddNewItem</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNewItem</servlet-name>
    <url-pattern>/AddNewItem</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCustomerRegister</display-name>
    <servlet-name>AddCustomerRegister</servlet-name>
    <servlet-class>AddCustomerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerRegister</servlet-name>
    <url-pattern>/AddCustomerRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check_CustomerLogin</display-name>
    <servlet-name>Check_CustomerLogin</servlet-name>
    <servlet-class>Check_CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check_CustomerLogin</servlet-name>
    <url-pattern>/Check_CustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Shopkeeper_Login</display-name>
    <servlet-name>Shopkeeper_Login</servlet-name>
    <servlet-class>Shopkeeper_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shopkeeper_Login</servlet-name>
    <url-pattern>/Shopkeeper_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShopkeeperRegister</display-name>
    <servlet-name>AddShopkeeperRegister</servlet-name>
    <servlet-class>AddShopkeeperRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShopkeeperRegister</servlet-name>
    <url-pattern>/AddShopkeeperRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>productdisplay</display-name>
    <servlet-name>productdisplay</servlet-name>
    <servlet-class>productdisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productdisplay</servlet-name>
    <url-pattern>/productdisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcart</display-name>
    <servlet-name>addcart</servlet-name>
    <servlet-class>addcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcart</servlet-name>
    <url-pattern>/addcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Check_ShopkeeperLogin</display-name>
    <servlet-name>Check_ShopkeeperLogin</servlet-name>
    <servlet-class>Check_ShopkeeperLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Check_ShopkeeperLogin</servlet-name>
    <url-pattern>/Check_ShopkeeperLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CardDelete</display-name>
    <servlet-name>CardDelete</servlet-name>
    <servlet-class>CardDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardDelete</servlet-name>
    <url-pattern>/CardDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCard</display-name>
    <servlet-name>UpdateCard</servlet-name>
    <servlet-class>UpdateCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCard</servlet-name>
    <url-pattern>/UpdateCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCart</display-name>
    <servlet-name>AddToCart</servlet-name>
    <servlet-class>AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCart</servlet-name>
    <url-pattern>/AddToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendCard</display-name>
    <servlet-name>sendCard</servlet-name>
    <servlet-class>sendCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendCard</servlet-name>
    <url-pattern>/sendCard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cart</display-name>
    <servlet-name>cart</servlet-name>
    <servlet-class>cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cartDao</display-name>
    <servlet-name>cartDao</servlet-name>
    <servlet-class>cartDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartDao</servlet-name>
    <url-pattern>/cartDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletecardcart</display-name>
    <servlet-name>deletecardcart</servlet-name>
    <servlet-class>deletecardcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletecardcart</servlet-name>
    <url-pattern>/deletecardcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cartDisplay</display-name>
    <servlet-name>cartDisplay</servlet-name>
    <servlet-class>cartDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cartDisplay</servlet-name>
    <url-pattern>/cartDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProducts</display-name>
    <servlet-name>SearchProducts</servlet-name>
    <servlet-class>SearchProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProducts</servlet-name>
    <url-pattern>/SearchProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>methodsofcard</display-name>
    <servlet-name>methodsofcard</servlet-name>
    <servlet-class>methodsofcard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>methodsofcard</servlet-name>
    <url-pattern>/methodsofcard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>methodsofcart</display-name>
    <servlet-name>methodsofcart</servlet-name>
    <servlet-class>methodsofcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>methodsofcart</servlet-name>
    <url-pattern>/methodsofcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>methodscard</display-name>
    <servlet-name>methodscard</servlet-name>
    <servlet-class>methodscard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>methodscard</servlet-name>
    <url-pattern>/methodscard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyNoworders</display-name>
    <servlet-name>BuyNoworders</servlet-name>
    <servlet-class>BuyNoworders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyNoworders</servlet-name>
    <url-pattern>/BuyNoworders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>orders</display-name>
    <servlet-name>orders</servlet-name>
    <servlet-class>orders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orders</servlet-name>
    <url-pattern>/orders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>methodsoforders</display-name>
    <servlet-name>methodsoforders</servlet-name>
    <servlet-class>methodsoforders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>methodsoforders</servlet-name>
    <url-pattern>/methodsoforders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ordernow</display-name>
    <servlet-name>ordernow</servlet-name>
    <servlet-class>ordernow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ordernow</servlet-name>
    <url-pattern>/ordernow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reports</display-name>
    <servlet-name>reports</servlet-name>
    <servlet-class>reports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reports</servlet-name>
    <url-pattern>/reports</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userreport</display-name>
    <servlet-name>userreport</servlet-name>
    <servlet-class>userreport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userreport</servlet-name>
    <url-pattern>/userreport</url-pattern>
  </servlet-mapping>
</web-app>